$rootScaleValue: calc(10 / 1360 * 100vw);
$defaultFontSize: $rootScaleValue;

$width-xs: 812px;
$width-s: 1000px;
$width-m: 1133px;
$width-l: 1360px;
$width-xl: 1600px;
$width-xxl: 1920px;

$width-min-font: 885px;