.main {
  &_color {
    &_white {
      path {
        fill: #ffffff;
      }
    }

    &_purple {
      path {
        fill: #778dde;
      }
    }
    
    &_orange {
      path {
        fill: #fd6373;
      }
    }

    &_blue {
      path {
        fill: #12B7E7;
      }
    }
  }

  &.main_isInline {
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    vertical-align: -0.05em;
  }
}
