@import 'src/styles/variables.scss';

.content {
  padding: 0;
  border-radius: 100%;
}

.button {
  width: calc(8.4em / 4);
  height: calc(8.4em / 4);

  &::before {
    border-radius: 100%;
  }

  @media (min-width: $width-l) {
    width: 84px;
    height: 84px;
  }
}
