@import 'src/styles/variables.scss';

.bubble {
  position: absolute;
  font-size: 1.7em;
  line-height: 1.35;

  &_type {
    &_winWithSkin {
      left: calc(50% - 19em / 2);
      top: calc(50% - 6.5em / 2);
      width: calc(38em / 2);
      height: calc(17.8em / 2);

      .bubbleContent {
        padding: 2.05em 1.9em 1.9em 3.5em;
      }
    }

    &_win {
      left: calc(50% - 17.3em / 2);
      top: calc(50% - 3.9em / 2);
      width: calc(34.6em / 2);
      height: calc(12.4em / 2);

      .bubbleContent {
        padding: 2.05em 2.05em 2.3em 2.9em;
      }
    }

    &_loss {
      left: calc(50% - 16.2em / 2);
      top: calc(50% - 8em / 2);
      width: calc(32.4em / 2);
      height: calc(16.2em / 2);

      .bubbleContent {
        padding: 1.9em 2.7em 1.75em 4em;
      }
    }

    &_draw {
      left: calc(50% - 17.3em / 2);
      top: calc(50% - 6.7em / 2);
      width: calc(34.6em / 2);
      height: calc(13.6em / 2);

      .bubbleContent {
        padding: 1.8em 2.2em 1.7em 4em;
      }
    }

    &_makeDraw {
      left: calc(50% - 16em/2);
      top:  calc(-13.2em / 2);
      width: calc(32em / 2);
      height: calc(13.2em / 2);

      .bubbleContent {
        padding: 1.5em 1.65em 1.35em 3.5em;
      }
    }

    &_stalemate {
      left: calc(50% - 8.65em);
      top: calc(50% - 2.35em);
      width: 17.3em;
      height: 6.8em;

      .bubbleContent {
        padding: 1.1em 2.2em 1.7em 4.3em;
      }
    }

    &_perpetualCheck {
      left: calc(50% - 16em / 2);
      top:  calc(-13.2em / 2);
      width: calc(32em / 2);
      height: calc(13.2em / 2);

      .bubbleContent {
        padding: 1.2em 1.65em 1.35em 2.9em;
      }
    }

    &_fivefoldRepetition,
    &_insufficientMaterial {
      left: calc(50% - 8.65em);
      top: calc(50% - 2.35em);
      width: 17.3em;
      height: 6.8em;

      .bubbleContent {
        padding: 1.1em 2.2em 1.7em 3.4em;
      }
    }
  }

  @media (min-width: $width-s) {
    font-size: 2em;
  }

  @media (min-width: $width-l) {
    font-size: 24px;
    &_type {
      &_winWithSkin {
        left: -190px;
        top: -65px;
        width: 380px;
        height: 178px;

        .bubbleContent {
          padding: 41px 38px 38px 56px;
        }
      }

      &_win {
        left: -173px;
        top: -39px;
        width: 346px;
        height: 124px;

        .bubbleContent {
          padding: 41px 30px 46px 58px;
        }
      }

      &_loss {
        left: calc(50% - 162px);
        top: calc(50% - 80px);
        width: 324px;
        height: 162px;
        .bubbleContent {
          padding: 38px 40px 25px 75px;
        }
      }

      &_draw {
        left: calc(50% - 173px);
        top: calc(50% - 67px);
        width: 346px;
        height: 136px;

        .bubbleContent {
          padding: 36px 44px 34px 80px;
        }
      }

      &_makeDraw {
        left: calc(50% - 160px);
        top: -132px;
        width: 320px;
        height: 132px;

        .bubbleContent {
          padding: 30px 23px 27px 70px;
        }
      }

      &_stalemate {
        left: calc(50% - 173px);
        top: calc(50% - 50px);
        width: 346px;
        height: 142px;

        .bubbleContent {
          padding: 19px 44px 34px 73px;
        }
      }

      &_perpetualCheck {
        left: calc(50% - 186px);
        top: calc(50% - 147px);
        width: 372px;
        height: 156px;

        .bubbleContent {
          padding: 25px 35px 22px 62px;
        }
      }

      &_fivefoldRepetition {
        left: calc(50% - 200px);
        top: calc(50% - 50px);
        width: 398px;
        height: 155px;

        .bubbleContent {
          padding: 24px 44px 34px 73px;
        }
      }
    }
  }
}

.bubbleContent {
  font-weight: 700;
}

.skin {
  position: absolute;
  width: calc(14.1em / 2);
  height: calc(14.9em / 2);
  top: 0;
  left: 100%;
  transform: translate(-50%, -30%) rotate(15deg);

  @media (min-width: $width-l) {
    width: 141px;
    height: 149px;
  }
}

.skinSprite {
  padding: 20%;
}
